html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
}
a{
  text-decoration: none;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #7537e9;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
  background-color: #7537e9;
  color: #ffffff;
}
/* Common */
a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
/* Header */
header a {
  color: #ffffff;
  padding: 1rem;
}
a.brand {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}
.same-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.same-row.center {
  justify-content: center;
}

/*Carousel image */
div.carousel-item img {
  height: 400px;
}
/*end carsousel image*/

section{
  top: 400px;
  position: absolute;
  z-index: 1;
}

img.prod-image{
  height: 400px;
  width: 270px;
  max-height: 400px;
}

img {
  border-radius: 0.5rem;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}

/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 0 4px 8px 0 rgba(128, 208, 223, 0.2), 0 6px 20px 0 rgba(228, 102, 102, 0.19);
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}
/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
h2 {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
}